@import 'svg-symbols';

/* mixins */
@import 'base/mixins.scss';

/* vendors */
@import 'vendors/no-ui-slider';
@import 'vendors/slick-theme';
@import 'vendors/slick.scss';
@import 'vendors/daterangepicker';

/* base */
@import 'base/fonts';
@import 'base/variables';
@import 'base/normalize';
@import 'base/typography';
@import 'base/controls';
@import 'base/default';

/* pages */
@import 'pages/index';

/* blocks */
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/g-tabs';
@import 'blocks/g-select';
@import 'blocks/g-range-slider';
@import 'blocks/g-checkbox';
@import 'blocks/g-radio';
@import 'blocks/g-input';
@import 'blocks/g-icon-input';
@import 'blocks/g-date-picker';

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
html {
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	@media (max-width: $tablet) {
		font-size: 13px;
	}
	@media (max-width: $mobile-sm) {
		font-size: 12px;
	}
	@media (max-width: $mobile-xs) {
		font-size: 12px;
	}
}
body
{
	min-width: 375px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
// svg > use { fill: #c2c2c2; }
svg { fill: #000; }

// прячем svg спрайт, но не скрываем т.к. display: none; ломает градиенты и т.д
.svg-symbol
{
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}