/* ********************** */
@import '../node_modules/slick-carousel/slick/slick.scss';
@import '../node_modules/slick-carousel/slick/slick-theme.scss';
@import 'vendors/font-awesome.min.scss';

/* base */
@import 'base/variables';
@import 'base/fonts';
@import 'base/normalize';
@import 'base/typography';
@import 'base/grid';
@import 'base/buttons';

//standart-components
@import 'standart-components/standart-components.scss';
@import 'standart-components/404.scss';
@import 'standart-components/filter.scss';

/* components */
@import 'components/header';
@import 'components/footer';


body
{
	min-width: 1200px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after,
.row:after
{
	content: " ";
	display: table;
	clear: both;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

.float-none
{
	float: none;
}

.text-center
{
	text-align: center;
}

.text-left
{
	text-align: left;
}

.text-right
{
	text-align: right;
}

.full-table
{
	width: 100% !important;
}