
$icon-arrod-down-width: 13px;
$icon-arrod-down-height: 8px;
$icon-icon-width: 16px;
$icon-icon-height: 14px;

.arrod-down {
  width: $icon-arrod-down-width;
  height: $icon-arrod-down-height;
}

.icon {
  width: $icon-icon-width;
  height: $icon-icon-height;
}

