
$icon-partners1-width: 300px;
$icon-partners1-height: 49px;
$icon-partners3-width: 150px;
$icon-partners3-height: 44px;
$icon-phone-width: 12px;
$icon-phone-height: 16px;
$icon-registration-arrow-width: 21px;
$icon-registration-arrow-height: 21px;
$icon-shape-copy-width: 13px;
$icon-shape-copy-height: 16px;
$icon-slide-4-img-width: 165px;
$icon-slide-4-img-height: 60px;
$icon-spb-exchg-width: 63px;
$icon-spb-exchg-height: 48px;
$icon-sprite-23aee52a-width: 200px;
$icon-sprite-23aee52a-height: 139px;
$icon-sprite-9897454e-width: 200px;
$icon-sprite-9897454e-height: 98px;
$icon-sprite-d2e0e642-width: 200px;
$icon-sprite-d2e0e642-height: 98px;
$icon-svg-width: 350px;
$icon-svg-height: 248px;
$icon-tlg-width: 29px;
$icon-tlg-height: 24px;
$icon-usa-exchg-width: 49px;
$icon-usa-exchg-height: 48px;
$icon-videoplay-width: 97px;
$icon-videoplay-height: 97px;

.partners1 {
  width: $icon-partners1-width;
  height: $icon-partners1-height;
}

.partners3 {
  width: $icon-partners3-width;
  height: $icon-partners3-height;
}

.phone {
  width: $icon-phone-width;
  height: $icon-phone-height;
}

.registration-arrow {
  width: $icon-registration-arrow-width;
  height: $icon-registration-arrow-height;
}

.shape-copy {
  width: $icon-shape-copy-width;
  height: $icon-shape-copy-height;
}

.slide-4-img {
  width: $icon-slide-4-img-width;
  height: $icon-slide-4-img-height;
}

.spb-exchg {
  width: $icon-spb-exchg-width;
  height: $icon-spb-exchg-height;
}

.sprite-23aee52a {
  width: $icon-sprite-23aee52a-width;
  height: $icon-sprite-23aee52a-height;
}

.sprite-9897454e {
  width: $icon-sprite-9897454e-width;
  height: $icon-sprite-9897454e-height;
}

.sprite-d2e0e642 {
  width: $icon-sprite-d2e0e642-width;
  height: $icon-sprite-d2e0e642-height;
}

.svg {
  width: $icon-svg-width;
  height: $icon-svg-height;
}

.tlg {
  width: $icon-tlg-width;
  height: $icon-tlg-height;
}

.usa-exchg {
  width: $icon-usa-exchg-width;
  height: $icon-usa-exchg-height;
}

.videoplay {
  width: $icon-videoplay-width;
  height: $icon-videoplay-height;
}

