@import './vendors/slick';
.g-slider{margin-right: -35px; width:1200px;}
.g-slider__item
{
	//width: 190px;
	height: 190px;
	border-radius: 4px;
	background: rgba(103, 115, 135, 0.4);
	margin-right: 37px;
}

.slick-arrow
{
	position: absolute;
	top: 81px;
	display: block;
	z-index: 2;
}
.next-arrow,.prev-arrow
{
	width:40px;
	height:40px;
	background: rgba(103, 115, 135, 0.4);
	border-radius: 50%;
	right: 18px;
}
.prev-arrow{left: -17px;}