<section class="ui-kit__section">
	<div class="container">
		<h2 class="ui-kit__title"> Adaptive </h2>
		<p>
			Используем гриды
			<a href="https://youtu.be/-fDqBEjfzGo">https://youtu.be/-fDqBEjfzGo</a>
		</p>
	</div>
</section>