<section class="ui-kit__section">
	<div class="container">
		<h2 class="ui-kit__title"> Adaptive </h2>
		<p>
			Используем гриды
			<a href="https://youtu.be/-fDqBEjfzGo">https://youtu.be/-fDqBEjfzGo</a><br>
			Подсказка
			<a href="http://grid.malven.co/">hhttp://grid.malven.co/</a>
		</p>
	</div>
</section>