<section class="section">
	<div class="container">
		<h2 class="section__title">
			Adaptive
		</h2>
		<p>
			Используем гриды
			<a href="https://youtu.be/-fDqBEjfzGo">https://youtu.be/-fDqBEjfzGo</a>
		</p>
	</div>
</section>