p{ font-weight: bold;}
.section
{
	padding-top: 30px;
	padding-bottom: 60px;
	border-bottom: 1px solid rgba(103, 115, 135, 0.1);
}
.section__title
{
	font-size: 16px;
	line-height: 19px;
	font-weight: $medium;
	margin-bottom: 0;
	margin-right: 10px;
}
.ui-kit
{
	pre.prettyprint
	{
		padding-top: 17px;
		padding-right: 17px;
		padding-bottom: 0;
		padding-left: 17px;
		background: rgba(103, 115, 135, 0.05);
		font-family: $accent-font;
		border: none;
		border-radius: 4px;
		tab-size:25px;
	}
}
.ui-kit__tabs-item.g-tabs__item
{
	line-height: 16px;
	&:not(:last-child)
	{
		margin-right: 17px;
	}
	&:hover
	{
		&:after
		{
			height: 1px;
		}
	}
}
.ui-kit__tabs-item.g-tabs__item_active
{
	&:after
	{
		height: 1px;
	}
}
.g-tabs__link
{
	padding: 0;
}
.ui-kit__wrapper
{
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}
.ui-kit__tabs-menu
{
	color: $secondary-color;
	margin-bottom: 0;
	padding: 0;
	display: flex;
}
.ui-kit__tabs-link
{
	font-size: 12px;
	line-height: 14px;
}
.ui-kit__print
{
	width: 300px;
	background-color: rgba(103, 115, 135, 0.05);
}