/* mixins */
@import 'base/mixins.scss';

/* base */
@import 'base/fonts';
@import 'base/variables';
@import 'base/normalize';
@import 'base/typography';
@import 'base/default';


// global
@import 'blocks/g-icon-wrapper/g-icon-wrapper.scss';
@import 'blocks/g-button/g-button.scss';


/* blocks */
@import 'blocks/header/header.scss';
@import 'blocks/slider/slider.scss';
@import 'blocks/books/books.scss';
@import 'blocks/discount/discount.scss';
@import 'blocks/preeminence/preeminence.scss';
@import 'blocks/news/news.scss';
@import 'blocks/footer/footer.scss';

/* pages */
/* @import 'index'; */


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
html
{
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	-webkit-font-smoothing: antialiased;
}
