{% block news %}
	<div class="news container">
		<div class="news__head">
			<p class="news__head-inf">Новости</p>
			<div class="news__head-buttons-wrapper">
				<button class="news__head-button">
					<div class="news__head-button-img">{% include "assets/svg/miniArrowLeft.svg" %}</div>
				</button>
				<button class="news__head-button">
					<div class="news__head-button-img">{% include "assets/svg/miniArrowRight.svg" %}</div>
				</button>
			</div>
		</div>
		<div class="news__bottom">
			<div class="news__bottom-item">
				<img src="img/news1.png" alt="item-img" class="news__bottom-item-img">
				<p class="news__bottom-item-date">16 июня 2020</p>
				<p class="news__bottom-item-name">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</p>
				<p class="news__bottom-item-description">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
				<button class="g-button">Читать</button>
			</div>
			<div class="news__bottom-item">
				<img src="img/news2.png" alt="item-img" class="news__bottom-item-img">
				<p class="news__bottom-item-date">16 июня 2020</p>
				<p class="news__bottom-item-name">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</p>
				<p class="news__bottom-item-description">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
				<button class="g-button">Читать</button>
			</div>
			<div class="news__bottom-item">
				<img src="img/news3.png" alt="item-img" class="news__bottom-item-img">
				<p class="news__bottom-item-date">16 июня 2020</p>
				<p class="news__bottom-item-name">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</p>
				<p class="news__bottom-item-description">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
				<button class="g-button">Читать</button>
			</div>
		</div>
	</div>
{% endblock %}