.DS_Store
cache
sftp-config.json
/element/
config.php
/public/upload/
bower_components
/app/vendor
node_modules
.htpasswd
.htaccess

/.idea
.idea
/web.config
/*web.config
/*.log
/*.sql
.DS_Store
# исключаем из репозитория текстовые файлы, но оставляем robots.txt
/*.txt
#!/robots.txt
/sitemap*.xml
/*.dt
/*.tar.gz
/*.gz
/*.tar
/*.bak
/*.old
/*sftp-config.json
/*~
*/_*
/_*
/composer.*
/.phpintel


bitrix/templates/favorit_motors_mobile/node_modules/*
/report/*
/.ftpconfig
bitrix/templates/favorit_motors_mobile/package.json
bitrix/templates/favorit_motors_mobile/gulpfile.js
/node_modules

# исключаем ВСЮ папку bitrix, но ниже настроим включение нужных папок
# или используйте папку /local, чтобы полностью исключить папку bitrix
/bitrix/*
# включаем папку components, но исключаем components/bitrix
!/bitrix/components
/bitrix/components/bitrix/
# включаем папку php_interface и исключаем файл dbconn.php
!/bitrix/php_interface/
/bitrix/php_interface/dbconn.php
/bitrix/php_interface/*.bak
# включаем папку шаблонов
!/bitrix/templates/
# исключаем служебные и ненужные папки проекта
/upload
/import2
/import/logs
/import/*.txt
/google-partners
/phashes
/nbproject/*
/classes/

