{% block preeminence %}
	<div class="preeminence container">
		<div class="preeminence__wrapper">
			<img src="img/clockImg.png" alt="preeminence-img" class="preeminence__img">
			<div class="preeminence__inner">
				<p class="preeminence__name">Быстрая доставка</p>
				<p class="preeminence__inf">Доставим бесплатно  от 2000 ₽ по всей России</p>
			</div>
		</div>
		<div class="preeminence__wrapper">
			<img src="img/creditCardImg.png" alt="preeminence-img" class="preeminence__img">
			<div class="preeminence__inner">
				<p class="preeminence__name">Безопасная оплата</p>
				<p class="preeminence__inf">Плати безопасно и легко онлайн на нашем сайте.</p>
			</div>
		</div>
		<div class="preeminence__wrapper">
			<img src="img/starImg.png" alt="preeminence-img" class="preeminence__img">
			<div class="preeminence__inner">
				<p class="preeminence__name">Бонусная программа</p>
				<p class="preeminence__inf">Дополнительная скидка 15% при регистрации</p>
			</div>
		</div>
		<div class="preeminence__wrapper">
			<img src="img/bagImg.png" alt="preeminence-img" class="preeminence__img">
			<div class="preeminence__inner">
				<p class="preeminence__name">Большой выбор</p>
				<p class="preeminence__inf">Ежегодно выходит в свет более 100 книг</p>
			</div>
		</div>
	</div>
{% endblock %}