<h3>Независимое отображение</h3>

<div class="g-spoiler _g-spoiler">
	<div class="g-spoiler__item">
		<div class="g-spoiler__title _g-spoiler__title" onclick="o2.gSpoiler.spoilerToggle(this)">
			Title 1
		</div>
		<ul class="g-spoiler__list _g-spoiler__list">
			<li class="g-spoiler__list-item">Item 1</li>
			<li class="g-spoiler__list-item">Item 2</li>
			<li class="g-spoiler__list-item">Item 3</li>
			<li class="g-spoiler__list-item">Item 4</li>
			<li class="g-spoiler__list-item">Item 5</li>
		</ul>
	</div>
	<div class="g-spoiler__item">
		<div class="g-spoiler__title _g-spoiler__title" onclick="o2.gSpoiler.spoilerToggle(this)">
			Title 2
		</div>
		<ul class="g-spoiler__list _g-spoiler__list">
			<li class="g-spoiler__list-item">Item 1</li>
			<li class="g-spoiler__list-item">Item 2</li>
			<li class="g-spoiler__list-item">Item 3</li>
			<li class="g-spoiler__list-item">Item 4</li>
			<li class="g-spoiler__list-item">Item 5</li>
		</ul>
	</div>
</div>

<h3 style="margin-top: 50px;">Отображается максимум 1</h3>

<div class="g-spoiler _g-spoiler">
	<div class="g-spoiler__item _g-spoiler__item">
		<div class="g-spoiler__title _g-spoiler__title" onclick="o2.gSpoiler.spoilerToggle(this, 'one')">
			Title 1
		</div>
		<ul class="g-spoiler__list _g-spoiler__list">
			<li class="g-spoiler__list-item">Item 1</li>
			<li class="g-spoiler__list-item">Item 2</li>
			<li class="g-spoiler__list-item">Item 3</li>
			<li class="g-spoiler__list-item">Item 4</li>
			<li class="g-spoiler__list-item">Item 5</li>
		</ul>
	</div>
	<div class="g-spoiler__item _g-spoiler__item">
		<div class="g-spoiler__title _g-spoiler__title" onclick="o2.gSpoiler.spoilerToggle(this, 'one')">
			Title 2
		</div>
		<ul class="g-spoiler__list _g-spoiler__list">
			<li class="g-spoiler__list-item">Item 1</li>
			<li class="g-spoiler__list-item">Item 2</li>
			<li class="g-spoiler__list-item">Item 3</li>
			<li class="g-spoiler__list-item">Item 4</li>
			<li class="g-spoiler__list-item">Item 5</li>
		</ul>
	</div>
</div>

<h3 style="margin-top: 50px;">Отображается всегда только 1</h3>

<div class="g-spoiler _g-spoiler">
	<div class="g-spoiler__item _g-spoiler__item">
		<div class="g-spoiler__title _g-spoiler__title g-spoiler__title--active" onclick="o2.gSpoiler.spoilerToggle(this, 'onlyOne')">
			Title 1
		</div>
		<ul class="g-spoiler__list _g-spoiler__list" style="display: block;">
			<li class="g-spoiler__list-item">Item 1</li>
			<li class="g-spoiler__list-item">Item 2</li>
			<li class="g-spoiler__list-item">Item 3</li>
			<li class="g-spoiler__list-item">Item 4</li>
			<li class="g-spoiler__list-item">Item 5</li>
		</ul>
	</div>
	<div class="g-spoiler__item _g-spoiler__item">
		<div class="g-spoiler__title _g-spoiler__title" onclick="o2.gSpoiler.spoilerToggle(this, 'onlyOne')">
			Title 2
		</div>
		<ul class="g-spoiler__list _g-spoiler__list">
			<li class="g-spoiler__list-item">Item 1</li>
			<li class="g-spoiler__list-item">Item 2</li>
			<li class="g-spoiler__list-item">Item 3</li>
			<li class="g-spoiler__list-item">Item 4</li>
			<li class="g-spoiler__list-item">Item 5</li>
		</ul>
	</div>
</div>