<label class="g-input {{mod}}">
	<input name="name" type="text" class="g-input__input g-input__input--masked" value="" placeholder="+7(___)___-__-__" autocomplete="off">
	<div class="g-input__sub">Error: invalid name</div>
</label>