/*  Переменные со шрифтами  */
$accent-font: 'Roboto', sans-serif;

/*  Переменные с гарнитурами шрифтов  */
$thin:					100;
$light:					300;
$regular:				normal;
$medium:				500;
$bold:					bold;

/* Настройки оснвоно шрифта */
$mainFontSize: 			13px;
$mainLineHeight:		17px;
$mainFontColor:			#1C294D;
$mainFontWeight:		$regular;

/* Основные цвета */
$accent-color:			#FF7A00;
$secondary-color: 		#6a7678;

/* Разрешения */
$mobile:				768px;
$tablet:				769px;
$desktop:				1024px;
$widescreen:			1220px;
$fullhd:				1408px;