/*  Переменные со шрифтами  */
$accent-font: 'Roboto-mono', sans-serif;

/*  Переменные с гарнитурами шрифтов  */
$thin:					100;
$light:					300;
$regular:				normal;
$medium:				500;
$bold:					bold;

/* Настройки оснвоно шрифта */
$mainFontSize: 			13px;
$mainLineHeight:		17px;
$mainFontColor:			#000;
$mainFontWeight:		$regular;

/* Основные цвета */
$accent-color:			#f4b600;
$secondary-color: 		#6a7678;

/* Разрешения */
$tablet:				1024px;
$mobile-sm:				768px;
$mobile-xs:				475px;