<label class="g-input g-input--icon">
	<input name="name" type="text" class="g-input__input" placeholder="Placeholder">
	<div class="g-input__icon">
		{% include "/assets/svg/search.svg" %}
	</div>
	<div class="g-input__sub">Error: invalid name</div>
</label>


<label class="g-input g-input--icon error">
	<input name="name" type="text" class="g-input__input" placeholder="Placeholder">
	<div class="g-input__icon">
		{% include "/assets/svg/search.svg" %}
	</div>
	<div class="g-input__sub">Error: invalid name</div>
</label>
