<label class="g-input">
	<input name="name" type="text" class="g-input__input" placeholder="Placeholder">
	<div class="g-input__sub">Error: invalid name</div>
</label>


<label class="g-input error">
	<input name="name" type="text" class="g-input__input" placeholder="Placeholder">
	<div class="g-input__sub">Error: invalid name</div>
</label>
