.g-input
{
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
}
.g-input__input
{
	width: 100%;
	font-size: rem(13);
	line-height: rem(17);
	font-weight: $regular;
	color: #191C21;
	padding: 12px 18px;
	border: 1px solid #a3a4a6;
	outline-offset: 0px;
	&:hover { border-color: #191C21; }
	&:focus
	{
		border: 1px solid #191C21;
		outline: 1px solid #191C21;
	}
	&::placeholder{color: rgba(25, 28, 33, 0.4)}
}
.g-input.error
{
	.g-input__input
	{
		border: 1px solid #D01246;
		outline: 1px solid #D01246;
	}
	.g-input__sub
	{
		display: block;
		position: absolute;
		margin-top: 2px;
	}
}
.g-input__sub
{
	display: none;
	font-size: rem(10);
	line-height: rem(13);
	font-weight: $regular;
	color: #D01246;
}