<div class="g-input-file__gallery"></div>
<label class="g-input-file__form">
	<input class="g-input-file__file-inp" id = "g-input-file__file-inp" type="file" name="files" onclick="o2.gInputFile.fileSelection()" multiple>
	<div class="g-input-file__file-nm">Выберите файл</div>
</label>
