<label class="g-checkbox">
	<input type="checkbox" name="{{ name }}" class="g-checkbox__input">
	<div class="g-checkbox__body">
		<span class="g-checkbox__box"></span>
		<span class="g-checkbox__text">{{ labelText }}</span>
	</div>
</label>