/*  Переменные со шрифтами  */
$accent-font: 'PT Sans', sans-serif;


/*  Переменные с гарнитурами шрифтов  */
$pt-bold: 700;


/*  основные цвета  */
$accent-color: #f4b600;
$secondary-color: #6a7678;
