<div class="g-input-file">
	 <label>
		  <input class="g-input-file__file-inp" type="file" name="file" onclick="o2.gInputFile.fileSelection()">
		  <div class="g-input-file__file-nm">Выберите фотографии на оценку</div>
	 </label>
</div>