<label class="g-radio">
	<input type="radio" name="{{ name }}" class="g-radio__input"  >
	<div class="g-radio__body">
		<span class="g-radio__box"></span>
		<span class="g-radio__text">{{ labelText }}</span>
	</div>
</label>