<section class="ui-kit__section _adaptive-component">
	<div class="container">
		<h2 class="ui-kit__title"> Adaptive </h2>
		<p>
			Используем гриды
			<a href="https://youtu.be/-fDqBEjfzGo">https://youtu.be/-fDqBEjfzGo</a><br>
			Подсказка
			<a href="http://grid.malven.co/">http://grid.malven.co/</a> <br/>
			Пример того как использовать
			<a href="https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/">https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/</a> <br/>

		</p>
	</div>
</section>