<section class="ui-kit__section _date-picker-component">
	<div class="container _tabs-container">
		<div class="ui-kit__wrapper">
			<h2 class="ui-kit__title"> Date picker </h2>
			<ul class="ui-kit__tabs-menu">
				<li class="ui-kit__tabs-item _tab active" onclick="o2.gTabs.open(this, 1.2)">
					<a href="javascript:void(0);">Visual</a>
				</li>
				<li class="ui-kit__tabs-item _tab" onclick="o2.gTabs.open(this, 1.3)">
					<a href="javascript:void(0);">Show code</a>
				</li>
			</ul>
		</div>

		<div class="ui-kit__tabs-content open" data-tab="1.2">
			{% include "/blocks/g-date-picker/g-date-picker.twig" %}
		</div>
		<div class="ui-kit__tabs-content" data-tab="1.3">
			<pre class="prettyprint lang-html ui-kit__pretty">
&lt;div class=&quot;g-input g-date-picker&quot;&gt;
&#x9;&lt;input class=&quot;g-input__input&quot; type=&quot;text&quot; name=&quot;birthday&quot; placeholder=&quot;Select date&quot; value=&quot;&quot; /&gt;
&lt;/div&gt;
			</pre>
		</div>
	</div>
</section>