<section class="ui-kit__section _input-file_component">
	<div class="container">
		<div class="ui-kit__wrapper">
			<h2 class="ui-kit__title"> Input file </h2>
		</div>
		{% include "/blocks/g-input-file/g-input-file.twig" %}
	</div>
</section>