<section class="ui-kit__section _pagination-component">
	<div class="container">
		<h2 class="ui-kit__title ui-kit__title--pagination"> Pagination </h2>
		{% include '/blocks/g-pagination/g-pagination.twig' %}
	</div>
</section>