<section class="ui-kit__section _radio-component">
	<div class="container _tabs-container">
		<div class="ui-kit__wrapper">
			<h2 class="ui-kit__title"> Radio </h2>
			<ul class="ui-kit__tabs-menu">
				<li class="ui-kit__tabs-item _tab active" onclick="o2.gTabs.open(this, 1.2)">
					<a href="javascript:void(0);">Visual</a>
				</li>
				<li class="ui-kit__tabs-item _tab" onclick="o2.gTabs.open(this, 1.3)">
					<a href="javascript:void(0);">Show code</a>
				</li>
			</ul>
		</div>

		<div class="ui-kit__tabs-content open" data-tab="1.2">
			{% include "/blocks/g-radio/g-radio.twig" with { "name": "radio1", "labelText":"Нет"} %}
			{% include "/blocks/g-radio/g-radio.twig" with { "name": "radio1", "labelText":"Да"} %}
		</div>
		<div class="ui-kit__tabs-content" data-tab="1.3">
			<pre class="prettyprint lang-html ui-kit__pretty">
&lt;div class=&quot;g-tab__content&quot;&gt;
	&lt;label class=&quot;g-radio&quot;&gt;
		&lt;input type=&quot;radio&quot; name=&quot;radio1&quot; class=&quot;g-radio__input&quot;&gt;
		&lt;div class=&quot;g-radio__body&quot;&gt;
			&lt;span class=&quot;g-radio__box&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;g-radio__text&quot;&gt;Нет&lt;/span&gt;
		&lt;/div&gt;
	&lt;/label&gt;
		&lt;label class=&quot;g-radio&quot;&gt;
		&lt;input type=&quot;radio&quot; name=&quot;radio1&quot; class=&quot;g-radio__input&quot;&gt;
		&lt;div class=&quot;g-radio__body&quot;&gt;
			&lt;span class=&quot;g-radio__box&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;g-radio__text&quot;&gt;Да&lt;/span&gt;
		&lt;/div&gt;
	&lt;/label&gt;
&lt;/div&gt;
			</pre>
		</div>
	</div>
</section>