<section class="ui-kit__section _select-component">
	<div class="container _tabs-container">
		<div class="ui-kit__wrapper">
			<h2 class="ui-kit__title"> Select </h2>
			<ul class="ui-kit__tabs-menu">
				<li class="ui-kit__tabs-item _tab active" onclick="o2.gTabs.open(this, 1.2)">
					<a href="javascript:void(0);">Visual</a>
				</li>
				<li class="ui-kit__tabs-item _tab" onclick="o2.gTabs.open(this, 1.3)">
					<a href="javascript:void(0);">Show code</a>
				</li>
			</ul>
		</div>

		<div class="ui-kit__tabs-content open" data-tab="1.2">
			{% include "/blocks/g-select/g-select.twig" %}
		</div>
		<div class="ui-kit__tabs-content" data-tab="1.3">
			<pre class="prettyprint lang-html ui-kit__pretty">
&lt;div class=&quot;g-select _select&quot;&gt;
&#x9;&lt;input type=&quot;hidden&quot; class=&quot;_selected-value&quot; /&gt;
&#x9;&lt;div class=&quot;g-select__selected&quot; onclick=&quot;o2.gSelect.toggle(this)&quot;&gt;
&#x9;&#x9;&lt;div class=&quot;g-select__selected-name _selected-text&quot;&gt;&Vcy;&ycy;&bcy;&iecy;&rcy;&icy;&tcy;&iecy; &scy;&tcy;&rcy;&acy;&ncy;&ucy;&lt;/div&gt;
&#x9;&#x9;&lt;div class=&quot;g-select__arrow&quot;&gt;
&#x9;&#x9;&#x9;{{ '{% include &quot;/assets/svg/arrod-down.svg&quot; %}' }}
&#x9;&#x9;&lt;/div&gt;
&#x9;&lt;/div&gt;
&#x9;&lt;div class=&quot;g-select__error&quot;&gt;Error: &ocy;&bcy;&yacy;&zcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&iecy; &pcy;&ocy;&lcy;&iecy;&lt;/div&gt;
&#x9;&lt;div class=&quot;g-select__list _options&quot;&gt;
&#x9;&#x9;&lt;ul class=&quot;g-select__items&quot;&gt;
&#x9;&#x9;&#x9;&lt;li data-value=&quot;code-Australia&quot; class=&quot;g-select__item _option g-select__item--active&quot; onclick=&quot;o2.gSelect.selecttItem(this)&quot;&gt;Australia&lt;/li&gt;
&#x9;&#x9;&#x9;&lt;li data-value=&quot;code-Argentina&quot; class=&quot;g-select__item _option&quot; onclick=&quot;o2.gSelect.selecttItem(this)&quot;&gt;Argentina&lt;/li&gt;
&#x9;&#x9;&#x9;&lt;li data-value=&quot;code-Belgium&quot; class=&quot;g-select__item _option&quot; onclick=&quot;o2.gSelect.selecttItem(this)&quot;&gt;Belgium&lt;/li&gt;
&#x9;&#x9;&#x9;&lt;li data-value=&quot;code-Canada&quot; class=&quot;g-select__item _option&quot; onclick=&quot;o2.gSelect.selecttItem(this)&quot;&gt;Canada&lt;/li&gt;
&#x9;&#x9;&#x9;&lt;li data-value=&quot;code-Italy&quot; class=&quot;g-select__item _option&quot; onclick=&quot;o2.gSelect.selecttItem(this)&quot;&gt;Italy&lt;/li&gt;
&#x9;&#x9;&#x9;&lt;li data-value=&quot;code-New Zealand&quot; class=&quot;g-select__item _option&quot; onclick=&quot;o2.gSelect.selecttItem(this)&quot;&gt;New Zealand&lt;/li&gt;
&#x9;&#x9;&lt;/ul&gt;
&#x9;&lt;/div&gt;
&lt;/div&gt;
			</pre>
		</div>
	</div>
</section>