<section class="ui-kit__section _slider-component">
	<div class="container _tabs-container">
		<div class="ui-kit__wrapper">
			<h2 class="ui-kit__title"> Slider </h2>
			<ul class="ui-kit__tabs-menu">
				<li class="ui-kit__tabs-item _tab active" onclick="o2.gTabs.open(this, 1.2)">
					<a href="javascript:void(0);">Visual</a>
				</li>
				<li class="ui-kit__tabs-item _tab" onclick="o2.gTabs.open(this, 1.3)">
					<a href="javascript:void(0);">Show code</a>
				</li>
			</ul>
		</div>

		<div class="ui-kit__tabs-content open" data-tab="1.2">
			{% include 'blocks/g-slider/g-slider.twig' %}
		</div>
		<div class="ui-kit__tabs-content" data-tab="1.3">
			<pre class="prettyprint lang-html ui-kit__pretty">
&lt;div class=&quot;g-slider&quot;&gt;
	{{ '{% for i in 0..9 %}' }}
	&lt;div class=&quot;g-slider__item-wr&quot;&gt;
		&lt;div class=&quot;g-slider__item&quot;&gt;&lt;/div&gt;
	&lt;/div&gt;
	{{ '{% endfor %}' }}
&lt;/div&gt;
			</pre>
		</div>
	</div>
</section>