<section class="ui-kit__section _tabs-component">
	<div class="container">
		<div class="ui-kit__wrapper">
			<h2 class="ui-kit__title"> Tab </h2>
		</div>
		{% include "/blocks/g-tabs/g-tabs.twig" %}
	</div>
</section>