<section class="ui-kit__section _validation-component">
	<div class="container _tabs-container">
		<div class="ui-kit__wrapper">
			<h2 class="ui-kit__title">Валидация форм</h2>
			<ul class="ui-kit__tabs-menu">
				<li class="ui-kit__tabs-item _tab active" onclick="o2.gTabs.open(this, 1.2)">
					<a href="javascript:void(0);">Visual</a>
				</li>
				<li class="ui-kit__tabs-item _tab" onclick="o2.gTabs.open(this, 1.3)">
					<a href="javascript:void(0);">Show code</a>
				</li>
			</ul>
		</div>

		<div class="ui-kit__tabs-content open" data-tab="1.2">
			<form onsubmit="return o2.authForm.submit(this)">
				<label class="g-input _field" data-call="empty">
					<input name="name" type="text" class="g-input__input" placeholder="Placeholder">
					<div class="g-input__sub _error-msg">Error: invalid name</div>
				</label> <br/> <br/>
				<label class="g-input _field" data-code="phone" data-call="empty phone">
					<input name="name" type="text" class="g-input__input  _phone-mask" placeholder="Placeholder">
					<div class="g-input__sub _error-msg">Error: invalid name</div>
				</label> <br/> <br/>
				<label class="g-input _field" data-call="empty">
					<input name="name" type="text" class="g-input__input" placeholder="Placeholder">
					<div class="g-input__sub _error-msg">Error: invalid name</div>
				</label>
				<div class="form-errors _global-errors"></div>
				<br/>
				<br/>
				<label class="g-input _field" data-call="empty">
					<textarea name="name" class="g-input__input g-input__input--textarea" placeholder="Placeholder"></textarea>
					<div class="g-input__sub _error-msg">Error: invalid name</div>
				</label>
				<br/>
				<br/>
				<label class="g-input _field" data-call="selected">
					<div class="g-select _select">
						<input type="hidden" class="_selected-value" />
						<div class="g-select__selected" onclick="o2.gSelect.toggle(this)">
							<div class="g-select__selected-name _selected-text">Выберите страну</div>
							<div class="g-select__arrow">
								{% include "/assets/svg/arrod-down.svg" %}
							</div>
						</div>
						<div class="g-select__list _options">
							<ul class="g-select__items">
								<li data-value="code-Australia" class="g-select__item _option g-select__item--active" onclick="o2.gSelect.selecttItem(this)">Australia</li>
								<li data-value="code-Argentina" class="g-select__item _option" onclick="o2.gSelect.selecttItem(this)">Argentina</li>
								<li data-value="code-Belgium" class="g-select__item _option" onclick="o2.gSelect.selecttItem(this)">Belgium</li>
								<li data-value="code-Canada" class="g-select__item _option" onclick="o2.gSelect.selecttItem(this)">Canada</li>
								<li data-value="code-Italy" class="g-select__item _option" onclick="o2.gSelect.selecttItem(this)">Italy</li>
								<li data-value="code-New Zealand" class="g-select__item _option" onclick="o2.gSelect.selecttItem(this)">New Zealand</li>
							</ul>
						</div>
					</div>
					<div class="g-input__sub _error-msg">Error: invalid name</div>
				</label>
				<br/>
				<br/>
				<label class="g-input _field" data-call="checked">
					<label class="g-checkbox">
						<input type="checkbox" name="{{ name }}" class="g-checkbox__input">
						<div class="g-checkbox__body">
							<span class="g-checkbox__box"></span>
							<span class="g-checkbox__text">{{ labelText }}</span>
						</div>
					</label>
					<label class="g-checkbox">
						<input type="checkbox" name="{{ name }}" class="g-checkbox__input">
						<div class="g-checkbox__body">
							<span class="g-checkbox__box"></span>
							<span class="g-checkbox__text">{{ labelText }}</span>
						</div>
					</label>
					<div class="g-input__sub _error-msg g-input__sub--width">Error: invalid name</div>
				</label>
				<br/>
				<br/>
				<input class="g-button" type="submit" value="Отправить"/>
			</form>
			<style>
			.form-errors{padding:10px; border:1px solid red; display: none;}
			.form-errors.show{display: block;}
			.g-input__sub--width{width:120px;}
			</style>
		</div>
		<div class="ui-kit__tabs-content" data-tab="1.3">
			<pre class="prettyprint lang-twig ui-kit__pretty">
&lt;form onsubmit=&quot;return o2.authForm.submit(this)&quot;&gt;
&#x9;&lt;label class=&quot;g-input _field&quot; data-call=&quot;empty&quot;&gt;
&#x9;&#x9;&lt;input name=&quot;name&quot; type=&quot;text&quot; class=&quot;g-input__input&quot; placeholder=&quot;Placeholder&quot;&gt;
&#x9;&#x9;&lt;div class=&quot;g-input__sub _error-msg&quot;&gt;Error: invalid name&lt;/div&gt;
&#x9;&lt;/label&gt; &lt;br/&gt; &lt;br/&gt;
&#x9;&lt;label class=&quot;g-input _field&quot; data-code=&quot;phone&quot; data-call=&quot;empty phone&quot;&gt;
&#x9;&#x9;&lt;input name=&quot;name&quot; type=&quot;text&quot; class=&quot;g-input__input&quot; placeholder=&quot;Placeholder&quot;&gt;
&#x9;&#x9;&lt;div class=&quot;g-input__sub _error-msg&quot;&gt;Error: invalid name&lt;/div&gt;
&#x9;&lt;/label&gt; &lt;br/&gt; &lt;br/&gt;
&#x9;&lt;label class=&quot;g-input _field&quot; data-call=&quot;empty&quot;&gt;
&#x9;&#x9;&lt;input name=&quot;name&quot; type=&quot;text&quot; class=&quot;g-input__input&quot; placeholder=&quot;Placeholder&quot;&gt;
&#x9;&#x9;&lt;div class=&quot;g-input__sub _error-msg&quot;&gt;Error: invalid name&lt;/div&gt;
&#x9;&lt;/label&gt;
&#x9;&lt;div class=&quot;form-errors _global-errors&quot;&gt;&lt;/div&gt;
&#x9;&lt;br/&gt;
&#x9;&lt;br/&gt;
&#x9;&lt;input class=&quot;g-button&quot; type=&quot;submit&quot; value=&quot;&Ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy;&quot;/&gt;
&lt;/form&gt;
&lt;script&gt;
&#x9;o2.authForm =
&#x9;{
&#x9;&#x9;submit(instance)
&#x9;&#x9;{
&#x9;&#x9;&#x9;let validator = new O2Validator(instance);
&#x9;&#x9;&#x9;validator.callbacks.custom = this.customValidation;

&#x9;&#x9;&#x9;if(!validator.validate())
&#x9;&#x9;&#x9;&#x9;return false;

&#x9;&#x9;&#x9;// &ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&lcy;&icy; &zcy;&acy;&pcy;&rcy;&ocy;&scy; &icy; &yacy;&kcy;&ocy;&bcy;&ycy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&lcy;&icy; &ocy;&shcy;&icy;&bcy;&kcy;&ucy;
&#x9;&#x9;&#x9;setTimeout(function(){
&#x9;&#x9;&#x9;&#x9;validator.setErrors({
&#x9;&#x9;&#x9;&#x9;&#x9;phone:&apos;&Scy;&ocy;&ocy;&bcy;&shchcy;&iecy;&ncy;&icy;&iecy; &ocy;&shcy;&icy;&bcy;&kcy;&icy;&apos;,
&#x9;&#x9;&#x9;&#x9;&#x9;email:&apos;&Scy;&ocy;&ocy;&bcy;&shchcy;&iecy;&ncy;&icy;&iecy; &ocy;&shcy;&icy;&bcy;&kcy;&icy;&apos;
&#x9;&#x9;&#x9;&#x9;});
&#x9;&#x9;&#x9;&#x9;validator.errors = [1,2,3];
&#x9;&#x9;&#x9;&#x9;validator.showGlobalErrors();

&#x9;&#x9;&#x9;},500);
&#x9;&#x9;&#x9;return false;
&#x9;&#x9;},
&#x9;&#x9;customValidation(field)
&#x9;&#x9;{
&#x9;&#x9;&#x9;// return true &iecy;&scy;&lcy;&icy; &vcy;&scy;&iecy; &ocy;&kcy;
&#x9;&#x9;&#x9;this.setMessage(field,&apos;&CHcy;&tcy;&ocy;-&tcy;&ocy; &ncy;&iecy; &tcy;&acy;&kcy;&apos;);
&#x9;&#x9;&#x9;return false;
&#x9;&#x9;}
&#x9;}
&lt;/script&gt;
			</pre>
		</div>
	</div>
</section>