{% block books %}
	<div class="books container">
		<div class="books__head">
			<p class="books__head-inf">{{top}}</p>
			<div class="books__head-buttons-wrapper">
				<button class="books__head-button">
					<div class="books__head-button-img">{% include "assets/svg/miniArrowLeft.svg" %}</div>
				</button>
				<button class="books__head-button">
					<div class="books__head-button-img">{% include "assets/svg/miniArrowRight.svg" %}</div>
				</button>
			</div>
		</div>
		<div class="books__middle">
			<div class="books__middle-book-wrapper">
				<div class="books__middle-book-inf-inner books__middle-book-inf-inner--absolute">
					<div class="books__middle-book-inf books__middle-book-inf--purple">Бестселлер</div>
					<div class="books__middle-book-inf books__middle-book-inf--red">1+1=3</div>
				</div>
				<div class="books__middle-book-img-inner">
					<img src="img/book2.png" alt="book" class="books__middle-book-img">
				</div>
				<p class="books__middle-book-genre">Корпоративное право</p>
				<p class="books__middle-book-name">Инвестирование: способы, риски, субъекты : монография</p>
				<p class="books__middle-book-author">Майфат А.В.</p>
				<p class="books__middle-book-price">4 450 ₽ </p>
				<div class="books__middle-book-inf-inner">
					<div class="books__middle-book-inf books__middle-book-inf--yellow">
						<div class="books__middle-book-inf-img">{% include "assets/svg/star.svg" %}</div>
						4.9
					</div>
					<div class="books__middle-book-inf books__middle-book-inf--blue">
						<div class="books__middle-book-inf-img">{% include "assets/svg/like.svg" %}</div>
						89% рекомендуют
					</div>
				</div>
				<div class="books__middle-buttons-wrapper">
					<button class="g-button">
						<div class="g-button-img">{% include "assets/svg/cart-orange.svg" %}</div>
						В корзину
					</button>
					<button class="g-button-flag">
						<div class="g-button-img">{% include "assets/svg/flag.svg" %}</div>
					</button>
				</div>
			</div>
			<div class="books__middle-book-wrapper">
				<div class="books__middle-book-inf-inner books__middle-book-inf-inner--absolute">
					<div class="books__middle-book-inf books__middle-book-inf--green">Новинка</div>
				</div>
				<div class="books__middle-book-img-inner">
					<img src="img/book3.png" alt="book" class="books__middle-book-img">
				</div>
				<p class="books__middle-book-genre">Договорное право</p>
				<p class="books__middle-book-name">Договор коммерческой концессии (франчайзинг). Граж...</p>
				<p class="books__middle-book-author">Багдасарян А.Ф.</p>
				<p class="books__middle-book-price">372 ₽</p>
				<div class="books__middle-book-inf-inner">
					<div class="books__middle-book-inf books__middle-book-inf--yellow">
						<div class="books__middle-book-inf-img">{% include "assets/svg/star.svg" %}</div>
						4.9
					</div>
					<div class="books__middle-book-inf books__middle-book-inf--blue">
						<div class="books__middle-book-inf-img">{% include "assets/svg/like.svg" %}</div>
						89% рекомендуют
					</div>
				</div>
				<div class="books__middle-buttons-wrapper">
					<button class="g-button">
						<div class="g-button-img">{% include "assets/svg/cart-orange.svg" %}</div>
						В корзину
					</button>
					<button class="g-button-flag">
						<div class="g-button-img">{% include "assets/svg/flag.svg" %}</div>
					</button>
				</div>
			</div>
			<div class="books__middle-book-wrapper">
				<div class="books__middle-book-img-inner">
					<img src="img/book4.png" alt="book" class="books__middle-book-img">
				</div>
				<p class="books__middle-book-genre">Конкурентное право</p>
				<p class="books__middle-book-name">Договор коммерческой концессии (франчайзинг). Граж...</p>
				<p class="books__middle-book-author">Башлаков-Николаев И.В.</p>
				<div class="books__middle-book-price-inner">
					<p class="books__middle-book-price books__middle-book-price--red">372 ₽</p>
					<p class="books__middle-book-price-old">1 284 ₽</p>
					<p class="books__middle-book-price-difference">Выгода 300 ₽</p>
				</div>
				<div class="books__middle-book-inf-inner">
					<div class="books__middle-book-inf books__middle-book-inf--yellow">
						<div class="books__middle-book-inf-img">{% include "assets/svg/star.svg" %}</div>
						4.9
					</div>
					<div class="books__middle-book-inf books__middle-book-inf--blue">
						<div class="books__middle-book-inf-img">{% include "assets/svg/like.svg" %}</div>
						89% рекомендуют
					</div>
				</div>
				<div class="books__middle-buttons-wrapper">
					<button class="g-button">
						<div class="g-button-img">{% include "assets/svg/cart-orange.svg" %}</div>
						В корзину
					</button>
					<button class="g-button-flag">
						<div class="g-button-img">{% include "assets/svg/flag.svg" %}</div>
					</button>
				</div>
			</div>
			<div class="books__middle-book-wrapper">
				<div class="books__middle-book-inf-inner books__middle-book-inf-inner--absolute">
					<div class="books__middle-book-inf books__middle-book-inf--purple">Бестселлер</div>
					<div class="books__middle-book-inf books__middle-book-inf--red">1+1=3</div>
				</div>
				<div class="books__middle-book-img-inner">
					<img src="img/book2.png" alt="book" class="books__middle-book-img">
				</div>
				<p class="books__middle-book-genre">Корпоративное право</p>
				<p class="books__middle-book-name">Инвестирование: способы, риски, субъекты : монография</p>
				<p class="books__middle-book-author">Майфат А.В.</p>
				<p class="books__middle-book-price">4 450 ₽ </p>
				<div class="books__middle-book-inf-inner">
					<div class="books__middle-book-inf books__middle-book-inf--yellow">
						<div class="books__middle-book-inf-img">{% include "assets/svg/star.svg" %}</div>
						4.9
					</div>
					<div class="books__middle-book-inf books__middle-book-inf--blue">
						<div class="books__middle-book-inf-img">{% include "assets/svg/like.svg" %}</div>
						89% рекомендуют
					</div>
				</div>
				<div class="books__middle-buttons-wrapper">
					<button class="g-button">
						<div class="g-button-img">{% include "assets/svg/cart-orange.svg" %}</div>
						В корзину
					</button>
					<button class="g-button-flag">
						<div class="g-button-img">{% include "assets/svg/flag.svg" %}</div>
					</button>
				</div>
			</div>
		</div>
		<button class="books__bottom">
			{{bottom}}
		</button>
	</div>
{% endblock %}