{% block discount %}
	<div class="container discount">
		<form action="#" class="discount__form-wrapper">
			<p class="discount__form-inf">
				Скидка <span>200 ₽</span> при подписке на рассылку Издательства
			</p>
			<input type="Введите ваш Email" class="discount__form-input" placeholder="Введите ваш Email">
			<button class="g-button g-button--white" type="submit">Подписаться</button>
		</form>
	</div>
{% endblock %}