{#
	при ошибке добавлять класс "g-input_error"
 #}
<label class="g-icon-input">
	<input name="name" type="text" class="g-icon-input__input" value="" placeholder="Placeholder">
	<div class="g-icon-input__sub g-input__sub_error">Error: invalid name</div>
	<div class="g-icon-input__img">
		<svg role="img" class="search">
			<use xlink:href="#search"></use>
		</svg>
	</div>
</label>