{#
	при ошибке добавлять класс "g-input_error"
 #}
<label class="g-input g-icon-input">
	<input name="name" type="text" class="g-icon-input__input" value="" placeholder="Placeholder">
	<div class="g-input__sub">Error: invalid name</div>
	<div class="g-icon-input__img">
		{% include "/assets/svg/search.svg" %}
	</div>
</label>
<label class="g-input g-icon-input">
	<input name="name" type="text" class="g-icon-input__input" value="" placeholder="Placeholder">
	<div class="g-input__sub">Error: invalid name</div>
	<div class="g-icon-input__img">
		{% include "/assets/svg/search.svg" %}
	</div>
</label>