.g-button, input.g-button
{
	display: inline-block;
	font-size: 15px;
	line-height: 18px;
	color: #fff;
	background-color: #191C21;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
	padding-right: 71px;
	padding-left: 71px;
	border:0px;

	&:hover{background-color: rgba(103, 115, 135, 0.7);}
}