{# index.twig #}

{% block footer %}
	<footer>
		<p>
			footer moterfucker
		</p>
		<ul>
			{% if benefits %}
				миша педор
			{% endif %}

			{% for value in benefits %}
				<li>{{ value }}</li>
			{% endfor %}
		</ul>
	</footer>
{% endblock %}