{# 
	при ошибке добавлять класс "g-input_error"
 #}
<label class="g-input">
	<input name="name" type="text" class="g-input__input" value="" placeholder="Placeholder">
	<div class="g-input__sub g-input__sub_error">Error: invalid name</div>
</label>