<div class="g-select">
	<div class="g-select__selected" onclick="o2.gSelect.selectState.selectDropdownToggle();">
		<div class="g-select__selected-name _selected-item-name">Belgium</div>
		<div class="g-select__arrow">
			<svg role="img" class="arrod-down">
				<use xlink:href="#arrod-down"></use>
			</svg>
		</div>
	</div>
	<div class="g-select-list">
		<ul class="g-select-list__items">
			<li class="g-select-list__item g-select-list__item_active" onclick="o2.gSelect.selectState.markSelectedItem(this);">Australia</li>
			<li class="g-select-list__item" onclick="o2.gSelect.selectState.markSelectedItem(this);">Argentina</li>
			<li class="g-select-list__item" onclick="o2.gSelect.selectState.markSelectedItem(this);">Belgium</li>
			<li class="g-select-list__item" onclick="o2.gSelect.selectState.markSelectedItem(this);">Canada</li>
			<li class="g-select-list__item" onclick="o2.gSelect.selectState.markSelectedItem(this);">Italy</li>
			<li class="g-select-list__item" onclick="o2.gSelect.selectState.markSelectedItem(this);">New Zealand</li>
		</ul>
	</div>
</div>