@font-face {
	font-family: 'a_lcdnovaregular';
	src: url('../fonts/a_lcdnova-webfont.eot');
	src: url('../fonts/a_lcdnova-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/a_lcdnova-webfont.woff2') format('woff2'),
		 url('../fonts/a_lcdnova-webfont.woff') format('woff'),
		 url('../fonts/a_lcdnova-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}