@charset "UTF-8";

/* mixins */

/* Mixins:
   ========================================================================== */

/* Fonts Helpers:
	 Read more: https://github.com/vedees/webpack-template/blob/master/README.md#add-fonts
	 ========================================================================== */

/*
	By default template support only modern format fonts
	Without svg. Only: .woff, .woffs
	if ypu need svg comments lines bellow and uncomments "Fonts helper all format fonts"

	Usage:
	  1. Put your font to `src/assets/fonts/FOLDERNAME/FONTNAME`
		FOLLOW: Files Required
		Example: .woff, .woffs formats
	  2. Go to fonts.scss
	  3. Use mixon
		Example: @include font-face("OpenSans", "../fonts/OpenSans/opensans");

	  Required parameters: @family, @family
	  Minor parameters: @weight, @style, @pipeline

	  Example Base:
		@include font-face("OpenSans", "../fonts/OpenSans/opensans");
	  Example Situation:
		@include font-face("OpenSans", "../fonts/OpenSans/opensansItalic", 400, italic);
  */

/* base */

@font-face {
  font-family: 'Roboto-mono';
  src: url("./fonts/Roboto_mono/Light/RobotoMono-Light.eot");
  src: url("./fonts/Roboto_mono/Light/RobotoMono-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto_mono/Light/RobotoMono-Light.woff2") format("woff2"), url("./fonts/Roboto_mono/Light/RobotoMono-Light.woff") format("woff"), url("./fonts/Roboto_mono/Light/RobotoMono-Light.svg#RobotoMono-Light") format("svg"), url("./fonts/Roboto_mono/Light/RobotoMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-mono';
  src: url("./fonts/Roboto_mono/Bold/RobotoMono-Bold.eot");
  src: url("./fonts/Roboto_mono/Bold/RobotoMono-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto_mono/Bold/RobotoMono-Bold.woff2") format("woff2"), url("./fonts/Roboto_mono/Bold/RobotoMono-Bold.woff") format("woff"), url("./fonts/Roboto_mono/Bold/RobotoMono-Bold.svg#RobotoMono-Bold") format("svg"), url("./fonts/Roboto_mono/Bold/RobotoMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-mono';
  src: url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.eot");
  src: url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.woff2") format("woff2"), url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.woff") format("woff"), url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.svg#RobotoMono-Thin") format("svg"), url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-mono';
  src: url("./fonts/Roboto_mono/Medium/RobotoMono-Medium.eot");
  src: url("./fonts/Roboto_mono/Medium/RobotoMono-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto_mono/Medium/RobotoMono-Medium.woff2") format("woff2"), url("./fonts/Roboto_mono/Medium/RobotoMono-Medium.woff") format("woff"), url("./fonts/Roboto_mono/Medium/RobotoMono-Medium.svg#RobotoMono-Medium") format("svg"), url("./fonts/Roboto_mono/Medium/RobotoMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-mono';
  src: url("./fonts/Roboto_mono/Regular/RobotoMono-Regular.eot");
  src: url("./fonts/Roboto_mono/Regular/RobotoMono-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto_mono/Regular/RobotoMono-Regular.woff2") format("woff2"), url("./fonts/Roboto_mono/Regular/RobotoMono-Regular.woff") format("woff"), url("./fonts/Roboto_mono/Regular/RobotoMono-Regular.svg#RobotoMono-Regular") format("svg"), url("./fonts/Roboto_mono/Regular/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*  Переменные со шрифтами  */

/*  Переменные с гарнитурами шрифтов  */

/* Настройки оснвоно шрифта */

/* Основные цвета */

/* Разрешения */

/*  сбрасывает браузерное отображение элементов т.к. разные браузеры по разному отображают одно и тоже  */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
  background-color: transparent;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  padding: 0;
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*  Общая типографика для всех страниц. здесь описываются общие свойства для текстовых блоков  */

body {
  font-family: "Roboto-mono", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

h1 {
  font-size: 42px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 24px;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 24px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

h4 {
  font-size: 15px;
  letter-spacing: 2.4px;
  line-height: 24px;
  margin: 0px 0 8px 0;
}

p {
  margin-top: 10px;
  color: #6a7678;
}

b {
  font-weight: 700;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  outline: 0;
  text-decoration: none;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 0 20px;
}

.pln {
  color: #000;
}

pre.prettyprint {
  padding: 2px;
  border: 1px solid #888;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}

/* blocks */

/* pages */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 17px;
  font-size: 13px;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

@media screen {
  .str {
    color: #080;
  }

  .kwd {
    color: #008;
  }

  .com {
    color: #800;
  }

  .typ {
    color: #606;
  }

  .lit {
    color: #066;
  }

  .clo,
  .opn,
  .pun {
    color: #660;
  }

  .tag {
    color: #008;
  }

  .atn {
    color: #606;
  }

  .atv {
    color: red;
  }

  .dec,
  .var {
    color: #606;
  }

  .fun {
    color: red;
  }
}

@media print, projection {
  .kwd,
  .tag,
  .typ {
    font-weight: 700;
  }

  .str {
    color: #060;
  }

  .kwd {
    color: #006;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
  }

  .lit {
    color: #044;
  }

  .clo,
  .opn,
  .pun {
    color: #440;
  }

  .tag {
    color: #006;
  }

  .atn {
    color: #404;
  }

  .atv {
    color: red;
  }
}