<div class="g-tabs _tabs-container">
	<ul class="g-tabs__menu">
		<li class="g-tabs__item _tab active" onclick="o2.gTabs.open(this, 1)">
			<a class="g-tabs__link" href="javascript:void(0);">Active</a>
		</li>
		<li class="g-tabs__item _tab" onclick="o2.gTabs.open(this, 2)">
			<a class="g-tabs__link" href="javascript:void(0);">Inactive</a>
		</li>
		<li class="g-tabs__item _tab" onclick="o2.gTabs.open(this, 3)">
			<a class="g-tabs__link" href="javascript:void(0);">Inactive</a>
		</li>
		<li class="g-tabs__item _tab" onclick="o2.gTabs.open(this, 4)">
			<a class="g-tabs__link" href="javascript:void(0);">Inactive</a>
		</li>
	</ul>
	<div class="g-tabs__content open" data-tab="1"> Tab 1 content </div>
	<div class="g-tabs__content" data-tab="2"> Tab 2 content </div>
	<div class="g-tabs__content" data-tab="3"> Tab 3 content </div>
	<div class="g-tabs__content" data-tab="4"> Tab 4 content </div>
</div>