//buttons
.button
{
	border-radius: 3px;
	font-size: 14px;
	color: black;
	line-height: 57px;
	width: 240px;
	height: 56px;
	text-align: center;
	border: 1px solid black;
	transform: translateY(0px);
	transition: all 0.2s;
	display: inline-block;
}
.button-svg
{
	display: inline-block;
	vertical-align: middle;
	margin: 3px 5px 0 5px;
}
.button:hover
{
	transform: translateY(-4px);
	transition: all 0.2s;
	border-color: rgba(black, 0.5);
}
//inputs
.input
{
	background: #FFFFFF;
	box-shadow: 0px 0px 1px 1px  #DFE4EA;
	border-radius: 3px;
	font-size: 12px;
	color: #334D66;
	width: 240px;
	height: 48px;
	padding-left: 16px;
	border: none;
	transition: all 0.3s;
	&.error
	{
		position: relative;
		border: 2px solid #D0021B;
		color: #D0021B;
	}
}
::-webkit-input-placeholder {color:#96A7BB;}
::-moz-placeholder          {color:#96A7BB;}/* Firefox 19+ */
:-moz-placeholder           {color:#96A7BB;}/* Firefox 18- */
:-ms-input-placeholder      {color:#96A7BB;}
input:focus
{
	margin-top: 0px;
	font-size: 12px;
	box-shadow: 0px 0px 2px 2px  #9FCFFF
}
//checkboxes
.checkbox-label
{
	display: inline-block;
	position: relative;
	padding-left: 25px;
	font-size: 14px;
	color: #334D66;
	cursor: pointer;
}
.checkbox
{
	visibility: hidden;
	position: absolute;
}
.checkbox:not(checked) + span
{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #CFDAE6;
	border-radius: 2px;
	position: absolute;
	left: 0;
	transition: border 0.3s;
}
.checkbox:checked + span
{
	background: red;
    border: 1px solid #D23268;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background 0.3s;
}

.checkbox:checked:hover + span
{
	background: rgba(red, 0.5);
	transition: background 0.3s;
	border: 1px solid rgba(#D23268, 0.5);
}
.checkbox:not(checked):hover + span
{
	border: 2px solid #96A7BB;
	transition: border 0.3s;
}
//radios
.radio-label
{
	display: inline-block;
	position: relative;
	padding-left: 25px;
	font-size: 14px;
	color: #334D66;
	cursor: pointer;
}
.radio
{
	visibility: hidden;
	position: absolute;
}
.radio:not(checked) + span
{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #CFDAE6;
	border-radius: 50%;
	position: absolute;
	left: 0;
	transition: border 0.3s;
}
.radio:checked + span
{
	background: red;
    border: 1px solid #D23268;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background 0.3s;
}
.radio:checked:hover + span
{
	background: rgba(red, 0.5);
	transition: background 0.3s;
	border: 1px solid rgba(#D23268, 0.5);
}
.radio:not(checked):hover + span
{
	border: 2px solid #96A7BB;
	transition: border 0.3s;
}
//bread-crumbs
.bread-crumbs__list
{
	li
	{
		float: left;
		margin-right: 31px;
		a
		{
			font-size: 14px;
			color: #398FE6;
			line-height: 16px;
			border-bottom: 1px solid rgba(#398FE6,0.10);
			position: relative;
			&:after
			{
				font-family: 'FontAwesome';
				position: absolute;
				display: inline-block;
				content: "\f054";
				width: 4px;
				height: 4px;
				margin-left: 13px;
				top: 0px;
				color: #9DABB3;
				font-size: 8px;
			}
			&:hover
			{
				border-bottom: 1px solid transparent;
			}
		}
		span
		{
			font-size: 14px;
			color: #9DABB3;
			line-height: 16px;
		}
	}
}
//popups
._overlay
{
	width: 100%;
	height: 100vh;
	background-color: rgba(black, 0.6);
	position: fixed;
	top: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
	z-index: -10;
	&._show
	{
		visibility: visible;
		opacity: 1;
		transition: all 0.3s;
		z-index: 4;
	}
}
.popup
{
	position: absolute;
	width: 300px;
	height: 500px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 5vh;
	background-color: white;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-20px);
	transition: all 0.3s;
	z-index: 5;
	&._show
	{
		visibility: visible;
		opacity: 1;
		transform: translateY(0px);
		transition: all 0.3s;
	}
}
.popup-close
{
	position: absolute;
	right: 5px;
	top: 4px;
	font-size: 14px;
	display: inline-block;
}

//custom placeholder
.custom-input
{
	width: 240px;
	position: relative;
	display: block;
	input
	{
		background-color: #fafafa;
		box-shadow: 0px 0px 1px 1px #DFE4EA;
		border: none;
		border-radius: 3px;
		height: 66px;
		letter-spacing: 0.1px;
		padding-left: 18px;
		padding-top: 14px;
		font-size: 16px;
		color: rgba (0, 0, 0, 0.87);
		width: 100%;
		padding-right: 18px;
		background-color: #ffffff;
		transition: all 0.3s;
		&.error
		{
			border: 1px solid #ec231a;
			box-shadow: none;
		}
		&:hover
		{
			border: none;
		}
		&:focus
		{
			box-shadow: 0px 0px 2px 2px  #9FCFFF;

		}
	}
}
.custom-input__placeholder
{
	position: absolute;
	color: rgba(0, 0, 0, 0.45);
	left: 20px;
    top: 24px;
    transition: all 0.3s;
	&.onFocus
	{
		left: 20px;
		top: 14px;
		font-size: 12px;
		transition: all 0.3s;
	}
}