.g-input
{
	display: block;
	max-width: 354px;
	position: relative;
	margin-bottom: 10px;
}
.g-input__input
{
	width: 100%;
	font-size: rem(13);
	line-height: rem(17);
	font-weight: $regular;
	color: #191C21;
	padding: 12px 18px;
	border: 1px solid #a3a4a6;
	transition: .2s;
	&:hover { border-color: #191C21; }
	&:focus { border: 2px solid #191C21; }
}
.g-input-icon__input
{
	padding-left: 42px;
}
.g-input__sub_error
{
	display: none;
	font-size: rem(10);
	line-height: rem(13);
	font-weight: $regular;
	color: #D01246;
}
.g-input-icon__img
{
	position: absolute;
	line-height: 0;
	width: 14px;
	height: 15px;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	svg
	{
		widht: 100%;
		fill: #677387;
	}
}
.g-input_error
{
	.g-input__input { border: 2px solid #D01246; }
	.g-input__sub_error
	{
		display: block;
		position: absolute;
		bottom: -15px;
	}
}