{#
	при ошибке добавлять класс "g-input_error"
 #}
<label class="g-input {{mod}}">
	<input name="name" type="text" class="g-input__input" value="" placeholder="Placeholder" novalidate>
	<div class="g-input__sub">Error: invalid name</div>
</label>
