{% extends "layouts/layout.twig" %}

{% block page %}
	<div class="send">
	<div class="container">
		<h2 class="send__title">Шаг в будущее</h2>
		<form onsubmit="return o2.index.submit(this)">
			<label class="g-input _field" data-call="custom">
				<div class="send__all">
					<span>Напшите пожалуйста,твои Имя и Фамилию</span>
					<input name="name" type="text" class="g-input__input">
				</div>
			</label>
			<label class="g-input _field" data-code="number" data-call="custom number">
				<div class="send__all">
					<span>Укажите твой номер телефона, по которому я смогу тебе позвонить</span>
					<input name="name" type="text" class="g-input__input  _phone-mask">
				</div>
			</label>
			<label class="g-input _field" data-call="custom">
				<div class="send__all">
					<span>В каком городе хочешь работать</span>
					<input name="name" type="text" class="g-input__input">
				</div>
			</label>
			<div class="form-errors _global-errors"></div>
			<span class="send__text">Нажмите кнопку "отпарвить", я подтверждаю, что согласен на обработку моих персональных данных</span>
			<input class="g-button" type="submit" value="Отправить" />
		</form>
	</div>
</div>
{% endblock %}