{# ui-kit.twig #}
{% extends "layouts/layout.twig" %}

{% block page %}
	<div class="ui-kit">
		<section class="section">
			<div class="container">
				<h2 class="section__title">
					Select
				</h2>
				{% include "./blocks/g-select/g-select.twig" %}
			</div>
		</section>
		<section class="section">
			<div class="container">
				<h2 class="section__title">
					Range slider
				</h2>
				{% include "./blocks/g-range-slider/g-range-slider.twig"  with {fieldName: "namge", type: "single", min: 100, max: 1000, from: 0, to: 800} %}
			</div>
		</section>
		<section class="section">
			<div class="container">
				<h2 class="section__title">
					Input
				</h2>
				{% include "./blocks/g-input/g-input.twig" %}
			</div>
		</section>
		<section class="section">
			<div class="container">
				<h2 class="section__title">
					Input with icon
				</h2>
				{% include "./blocks/g-icon-input/g-icon-input.twig" %}
			</div>
		</section>
		<section class="section checkbox">
			<div class="container">
				<h2 class="section__title">
					Checkbox
				</h2>
				{% include "./blocks/g-checkbox/g-checkbox.twig" with { "name": "check", "labelText":"Checkbox" } %}
			</div>
		</section>
		<section class="section">
			<div class="container">
				<h2 class="section__title">
					Radio
				</h2>
				{% include "./blocks/g-radio/g-radio.twig" with { "name": "radio1", "labelText":"Нет"} %}
				{% include "./blocks/g-radio/g-radio.twig" with { "name": "radio1", "labelText":"Да"} %}
			</div>
		</section>
		<section class="section">
			<div class="container">
				<h2 class="section__title">
					Tab
				</h2>
				{% include "./blocks/g-tabs/g-tabs.twig" %}
			</div>
		</section>
		<section class="section">
			<div class="container">
				<h2 class="section__title">
					Date picker
				</h2>
				{% include "./blocks/g-date-picker/g-date-picker.twig" %}
			</div>
		</section>
		<section class="section">
			<div class="container">
				<h2 class="section__title">
					Adaptive
				</h2>
				<p>
					Используем гриды
					<a href="https://youtu.be/-fDqBEjfzGo">https://youtu.be/-fDqBEjfzGo</a>
				</p>
			</div>
		</section>
	</div>
{% endblock %}
