/*  Общая типографика для всех страниц. здесь описываются общие свойства для текстовых блоков  */

body
{
	font-family: $accent-font;
	font-weight: $pt-regular;
}

ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	li
	{
		margin: 0;
		padding: 0;
	}
}

address
{
	font-style: normal;
}

h1
{
}

h2
{
}

h3
{
}

h4
{
}

p
{
}

b
{
	font-weight: 700;
}

a,
a:hover,
a:active,
a:visited,
a:focus
{
	outline: 0;
	text-decoration: none;
}
