<div class="g-alert">
	<span class="g-alert__description">success</span>
	<div class="g-alert__item success">
		<span class="success__text">Данные были отпрвлены</span>
	</div>
	<span class="g-alert__description">error</span>
	<div class="g-alert__item error">
		<span class="error__text">Данные были отпрвлены</span>
	</div>
</div>